---
title: Page not found
description: Uh oh! We couldn't find the page you were looking for.
permalink: /404/
sitemap: false
---
{% comment %}
TODO: This should send data to slack or a google sheet that we check periodically after launch to see what pages are missing.
{% endcomment %}
<script>$( document ).ready(function() { $.post( "https://igive.objectif.app/support/log.php", { message: "404", content:location.href } ); });</script>

<div class="row">
  {% assign featured_posts = site.posts | where : "featured",
  true %}

  <!-- card -->
  <div class="card rounded-3 mb-5">
    <!-- card header -->
    <div class="card-header px-5 py-3 bg-white">
      <h3 class="mb-0">Popular articles</h3>
    </div>
    <!-- card body -->
    <div class="card-body p-5">
      <div class="row">
        <!-- left post list -->
        <div class="col-lg-6 col-md-12 col-12">
          <ul class="list-unstyled mb-0">
            {% for item in featured_posts limit : 5 %}
              <li>
                <a href="{{ item.url | absolute_url }}" class="h5 mb-2 text-inherit">{{ item.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <!-- right post list -->
        <div class="col-lg-6 col-md-12 col-12">
          <ul class="list-unstyled mb-0">
            {% for item in featured_posts offset : 5 limit : 5 %}
              <li>
                <h5 class="mb-2 text-truncate ">
                  <a href="{{ item.url | absolute_url }}" class="text-inherit">{{ item.title }}</a>
                </h5>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>