<footer class="footer pt-11 pb-3 bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-8 col-12">
                <div class="mb-4">
                    <div class="d-flex align-items-center mb-4">
                        <img src="{{ '/assets/images/logo-igive.png' | absolute_url }}" width="140" height="36" alt="iGive Logo">
                        <span class="small text-white fw-bold ps-1 pt-2">{{ site.logo_tag }}</span>
                    </div>
                    <p class="text-white">
                        {{ site.data.footer.about }}
                    </p>
                </div>
            </div>

            {% for item in site.data.footer.nav %}
                <div class="col-lg-2 col-md-4 col-12">
                    <div class="mb-4">
                        <p class="h4 mb-4 text-white">{{ item.title }}</p>
                        <ul class="list-unstyled list-group">
                            {% for item in item.items %}
                                <li class="list-group-item">
                                    <a href="{{ item.href | absolute_url }}" class="{{ item.class | default: 'list-group-item-link text-white' }}">{{ item.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}

            <div class="col-md-12">
                <div class="d-flex flex-column flex-sm-row justify-content-between pt-4 mt-4">
                    <p class="mb-0">
                        © 1997-{{ site.time | date: '%Y' }} iGive.com<sup>®</sup> Holdings, LLC. All rights reserved.                       
                    </p>
                    <ul class="list-unstyled d-flex m-0">
                        <li class="me-3">
                            <a class="link-body-emphasis" href="https://www.twitter.com/iGiveDoYou" target="_blank" aria-label="Follow us on Twitter">
                                <i class="fa-brands fa-x-twitter text-white" width="24" height="24"></i>
                            </a>
                        </li>
                        <li>
                            <a class="link-body-emphasis" href="https://www.facebook.com/iGive/" target="_blank" aria-label="Like us on Facebook">
                                <i class="fa-brands fa-facebook-f text-white" width="24" height="24"></i>
                            </a>
                        </li>
                        <li>
                            <a class="link-body-emphasis" href="https://www.instagram.com/iShopiGive/" target="_blank" aria-label="Follow us on Instagram">
                                <i class="fa-brands fa-instagram text-white" width="24" height="24"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex flex-column flex-sm-row justify-content-between pt-4 mt-4 border-top">
                    <p>
                        <small>
                            {{ site.data.footer.disclaimer }}
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>