<script src="{{ '/assets/js/jquery.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/js/bootstrap.bundle.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/js/jquery.slimscroll.min.js' | absolute_url }}"></script>
<script src="{{ '/pagefind/pagefind-ui.js' | absolute_url }}"></script>
<script src="{{ '/assets/js/main.js' | absolute_url }}"></script>
{% include future-date.html %}
<!--{% include cookie-consent.html %}-->
{% include better-forms.html %}
{% include new-window-fix.html %}
{% include schema.html %}

