<nav class="navbar navbar-expand-lg navbar-dark mb-0 bg-primary">
    <div class="container d-flex flex-nowrap justify-content-between">
        <div class="d-flex align-items-center">
            <a class="navbar-brand @@brandLogo me-1" href="{{ '' | absolute_url }}"><img src="{{ '/assets/images/logo-igive.png' | absolute_url }}" alt="iGive Logo" height="36" width="140"></a>
            <span class="small text-white fw-bold ps-1 pt-2">
                {{ site.logo_tag }}
            </span>
        </div>
        <div>
            <ul class="navbar-nav ms-auto">
                <div class="d-flex align-items-center">
                    <a href="{{ '' | absolute_url }}" class="btn btn-outline-white btn-sm">Return Home</a>
                </div>
            </ul>
        </div>
    </div>
</nav>