<div class="bg-shape bg-primary">
    <div class="container">
        <div class="row">
            <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-12">
                <div class="py-lg-20 py-14 ">
                    <h1 class="text-white text-center mb-5">
                        iGive Support
                    </h1>
                    <span class="text-white text-center my-3 d-block">How can we help you?</span>
                    <form action="/search/" method="get" class="px-lg-13 px-4">
                        <div class="input-group mb-3 border border-3 rounded-3 border-white bg-white">
                            <input type="search" name="q" class="form-control border-0" placeholder="Ask a question" aria-label="Ask a question" aria-describedby="searchButton">
                            <button class="btn btn-primary" type="submit" id="searchButton">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>