---
layout: page
---

<ul class="list-group list-group-flush">
    {% for post in paginator.posts %}
        <li class="list-group-item px-0 py-3">
            <h5 class="mb-0">
                <a href="{{ post.url | absolute_url }}" class="text-inherit">{{ post.title | escape }}</a>
            </h5>
        </li>
    {% endfor %}
</ul>

{% assign unique_tags = "" %}
{% for post in paginator.posts %}
    {% for tag in post.tags %}
        {% assign tag_slug = tag | slugify %}
        {% assign tag_data = site.data.tags | where : "slug", tag_slug | first %}
        {% if tag_data %}
            {% unless unique_tags contains tag_slug %}
                {% assign unique_tags = unique_tags | append: tag_slug | append : "," %}
            {% endunless %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% if unique_tags.size > 0 %}
<div class="border-top mt-2 pt-3">
    <span class="h5">Related Topics:</span>
    {% assign tag_list = unique_tags | split: "," %}
    {% for tag_slug in tag_list %}
        {% assign tag_data = site.data.tags | where : "slug", tag_slug | first %}
        <a href="{{ tag_data.url | default: '/tag/' | append: tag_slug | absolute_url }}" class="badge bg-secondary-soft text-uppercase fw-bold">{{ tag_data.title | default: tag_slug | capitalize | replace: '-', ' ' }}</a>
    {% endfor %}
</div>
{% endif %}
