---
layout: page
---

<div class="container">
    <div class="row">
        <div class="offset-xxl-2 col-xxl-8 col-lg-10 offset-lg-1 col-md-12 col-12">

            <h1>{{ page.title }}</h1>
            <p class="lead">{{ page.description }}</p>

            <h2>Table of Contents</h2>

            <ul>
                {% for category in site.categories %}
                    <li>{{ category[0] }}</li>
                    <ul>
                        {% for post in category[1] %}
                            <li>
                                <a href="{{ post.title | slugify | prepend: '#' | prepend: page.url | absolute_url }}">{{ post.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
        </ul>

        <div>
            {{ content }}
        </div>

        <div class="">
            {% for post in site.posts %}

                <h1 id="{{ post.title | slugify }}">{{ post.title }}</h1>
                <p>{{ post.description }}</p>

                {{ post.content }}

                <hr>

            {% endfor %}
        </div>

    </div>
</div>
</div>